@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Lexend&family=Lilita+One&display=swap');

:root {

  --fonte-header-footer: 'Lilita One', cursive;

  --fonte-textos: 'Rubik', sans-serif;


}
/*INICIO*/
body {
  margin: 0;
  background-attachment: fixed;
}

.pg1 {
  background-image: url(fotos/vangogh.webp);
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  display: grid;
  grid-template-areas:
    "header header"
    "main main"
    "footer footer";
}

header {
  background-image: linear-gradient(to top, transparent, rgba(0, 0, 0, 0.8));
  grid-area: h;
  background-color: rgb(32, 32, 32);
  grid-area: header;
  border: 1px solid black;
}
/*MAIN*/
main {
  font-family: Arial, Helvetica, sans-serif;
  padding: 3cm 2cm 2cm 3cm;
  margin: 20px 200px;
  background-color: aliceblue;
  grid-area: main;
  border: 1px solid black;
  box-shadow: 5px 10px 5px;
}


main p {
  text-indent: 4em;
  text-align: justify;
}

main img {
  display: block;
  margin: auto;
}

.citacao {
  font-size: 0.83em;
  margin: 1cm 0 0cm 4cm;
}

.pontos {
  width: 60%;
}

a {
  text-decoration: none;
}
nav {
  display: flex;
  position: relative;
  justify-content: space-between;
  flex-wrap: wrap;
}

.li {
  cursor: pointer;
  list-style: none;
}

.menu {
  margin: 0;
 grid-area: menu;
 display: flex;
 justify-content: center;
 flex-grow: 2;
 flex-direction: row;
 font-family: var(--fonte-textos);
 
 flex-wrap: wrap;
}

.li a {
  display: flex;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 65px 20px;
 

}

.li a:hover {
  transform: scale()1.1;
  transition: all 0.5s ease-in-out;
  background-color: white ;
  color: black ;
  padding:  65px 20px;
}

nav a {
  text-align: center;
  font-size: 1.1em;
  font-family: 'Oswald', sans-serif;
  text-decoration: none;
  color: #FFF;
}
#logo {
  width: 160px;
  height: 140px;
}

#logo img {
  width: 100px;

}

#logo img:hover {
  filter: invert(60%);

}

#logo img {
  padding: 20px;
}

nav a {
  text-align: center;
}

figcaption {
  display: block;
  margin: auto;
  text-align: center;
  font-size: 0.83em;
  color: #000;

}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.3em;
}

h3 {
  font-size: 1em;
}

.refe {
  font-size: small;
  text-align: center;
}

.image {
  width: 300px;
  height: 300px;
}
/*FOOTER*/
.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: black;
  color: white;
  justify-items: center;
  grid-area: footer;
  align-items: center;
  padding: 1rem;
  font-family: var(--fonte-header-footer);
  height: 200px;

}
/*RESPONSIVIDADE*/
@media (max-width: 1075px){
  .container {
    display: grid;
    grid-template-areas:
      "header"
      "main"
      "footer";
  }

 
}
@media (max-width: 884px){
  main {
    margin:50px;
    font-size: small;
    padding: 10px;
  }
  #logo{
    display: none;
  }
  .li{
    display: flex;
    flex-wrap: wrap;
  }
  main p {
    text-indent: 1em;
    text-align: justify;}
    h1 {
      font-size: 1.5em;
    }
    .li a{
      display: flex;
      flex-wrap: wrap;
      padding: 20px 20px;

      font-size: small;
    }
    h2 {
      font-size: 1rem;
    }
    
    h3 {
      font-size: 0.9em;
    }
    
    .refe {
      font-size: small;

    }
    
    
    .footer{
      grid-template-columns: 1fr;
    }
    figure{
      margin-left:20px;
      margin-right:20px;
    }
    .image{
      width: 80px;
      height: 80px;
    }
}