@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Lexend&family=Lilita+One&display=swap');

:root {

  --fonte-header-footer: 'Lilita One', cursive;

  --fonte-textos: 'Rubik', sans-serif;


}

body {
  margin: 0;
  background-attachment: fixed;
}

.pg1 {
  background-image: url(fotos/vangogh.webp);
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  display: grid;
  grid-template-areas:
    "header header"
    "main main"
    "footer footer";
}

header {
  background-image: linear-gradient(to top, transparent, rgba(0, 0, 0, 0.8));
  background-color: rgb(32, 32, 32);
  grid-area: header;
  height: 150px;
  border: 1px solid black;
}

main {
  font-family: Arial, Helvetica, sans-serif;
  padding: 3cm 2cm 2cm 3cm;
  margin: 20px 350px;
  background-color: aliceblue;
  grid-area: main;
  border: 1px solid black;
  box-shadow: 5px 10px 5px;
}


main p {
  text-indent: 4em;
  text-align: justify;
}

main img {
  display: block;
  margin: auto;
}
nav {
  display: flex;
  position: relative;
  justify-content: space-between;
}

.li {
  cursor: pointer;
  list-style: none;
}

.menu {
  margin: 0;
 grid-area: menu;
 display: flex;
 justify-content: center;
 flex-grow: 2;
 flex-direction: row;
 font-family: var(--fonte-textos);
 height: 150px;
}

.li a {
  display: flex;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 65px 20px;
 

}

.li a:hover {
  transform: scale()1.1;
  transition: all 0.5s ease-in-out;
  background-color: white ;
  color: black ;
  padding: 65px 20px;
}

nav a {
  text-align: center;
  font-size: 1.1em;
  font-family: 'Oswald', sans-serif;
  text-decoration: none;
  color: #FFF;
}

#logo {
  width: 160px;
  height: 140px;
}

#logo img {
  width: 100px;

}

#logo img:hover {
  filter: invert(60%);

}

#logo img {
  padding: 20px;
}

nav a {
  text-align: center;
}

figcaption {
  display: block;
  margin: auto;
  text-align: center;
  font-size: 0.83em;
  color: #000;

}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.3em;
}

h3 {
  font-size: 1em;
}

.refe {
  font-size: small;
  text-align: center;
}

.image {
  width: 300px;
  height: 300px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: black;
  color: white;
  justify-items: center;
  grid-area: footer;
  align-items: center;
  padding: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  height: 200px;
  font-size: xx-large;
}
@media (max-width: 1500px){
  .container {
    display: grid;
    grid-template-areas:
      "header "
      "main "
      "footer ";
  }
  .header{
    width: auto;
  }
  #logo{
    display: none;
  }
  main{
    margin: 0;
    padding: 0;
  }
 section{
  font-size: x-large;
  margin: 10px 50px;
  padding: 1.5cm 1cm 1cm 1.5cm;
  border: none;
  
 }
  .image{
    width: 200px;
    height: 200px;
  }
  .footer{
    grid-template-columns: 1fr;
    font-size: xx-large;
  }
}
  

@media (max-width: 1000px){
  .li a{
    font-size:x-large;
    
   }
  }
@media (max-width:799px){
  
  .li a{
    font-size:large;
    margin: 10px 50px;
    padding: 1.5cm 1cm;
    border: none;
    
   }
  .footer{
    font-size: large;
  }
 
}



