@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Lexend&family=Lilita+One&display=swap');

:root {
    --cor-principal: #ffff;

    --cor-texto-header: #AD9E49;

    --fonte-header-footer: 'Lilita One', cursive;

    --fonte-textos: 'Rubik', sans-serif;

    --nav-color: #AD9E49;

    --nav-hover: #071409;

    --cor-titulos: #565E96;

    --cor-footer: #1D2830;

    --cor-conteudo: #ececec;
}

@media only screen and (max-width: 620px) {

    /* For mobile phones: */
    .container,
    .header,
    .content,
    .main,
    .right {
        width: 100%;
    }
}

body {
    margin: 0;
}

.header {
    display: grid;
    grid-template-columns: 50px 1fr;
    position: sticky;
    top: 0px;
    justify-items: center;
    align-items: center;
    background-color: var(--cor-principal);
    color: var(--cor-texto-header);
    padding: 14px 16px;
    box-shadow: 0px 3px 10px #2c3546;
}

.txtLogo {
    font-family: var(--fonte-header-footer);
    font-size: xx-large;
    margin-right: 20px;
    align-items: center;
    justify-content: flex-start;
    margin-left: 100px;
}

.logo {
    align-items: center;
    justify-content: center;
}

.nav {
    display: flex;
    justify-content: center;
    margin-top: 0;
    flex-grow: 2;
    flex-direction: row;
    font-family: var(--fonte-textos);
    background-color: var(--nav-color);
}

.nav a {
    display: flex;
    color: var(--cor-conteudo);
    text-align: center;
    text-decoration: none;
    font-size: larger;
    padding: 0%;
    padding: 14px 14px;

}

.nav a:hover {
    transform: scale()1.1;
    transition: all 0.5s ease-in-out;
    background-color: var(--nav-hover);
    color: var(--cor-conteudo);
    padding: 14px 14px;
}

#propaganda1 {
    display: grid;
    grid-template-rows: 20px 1fr;
    margin-top: 20px;
    padding: bottom 20px; 
    margin-bottom: 15px;
    justify-items: center;
    background-color: rgb(224, 224, 224);
}

#publi {
    display: grid;
    align-items: center;
    justify-items: center;
    color: rgb(128, 128, 128);
    font-family: var(--fonte-textos);
    font-size: small;
}

.main{
   
    margin-left: 200px ;
    margin-right: 200px ;
    margin-top: 30px;
}
.section1{
     display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
}
.section2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}
