@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Lexend&family=Lilita+One&display=swap');

:root {
    --cor-principal: black;

    --cor-texto-header: white;

    --fonte-header-footer: 'Lilita One', cursive;

    --fonte-textos: 'Rubik', sans-serif;

    --nav-color: #AD9E49;

    --nav-hover: #071409;

    --cor-titulos: #565E96;

    --cor-footer: black;

    --cor-conteudo: #ececec;
}
body{
    margin: 0px;
    background-image: url(fotos/vangogh.webp);
    background-repeat: no-repeat;
    background-size: cover;
 
}
.header{
    background-color: var(--cor-principal);
    color: var(--cor-texto-header);
    font-family: var(--fonte-header-footer);
    display: flex;
    align-items: center;
    justify-content: center;
}
.txtHeader{

    justify-content: center;
    text-align: center;
}
  section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    opacity: 0.8;
    margin: 200px;
    border-radius: 20px;
    height: 500px;
  }
  #nomeSite{
    color: var(--cor-texto-header);
    font-size: larger;
  }
  #Pags{
    padding: 40px;
  }
  #Pags a{
    color: var(--cor-conteudo);
    border: white solid 1px;
    border-radius: 20px;
    padding: 15px 25px;
    font-family: var(--fonte-textos);
    margin-top: 15px;
    opacity: 1;
    width: 100px;
    height: 100px;
  }
  .footer{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      background-color: var(--cor-footer);
      color: var(--cor-conteudo);
      justify-items: center;
      align-items: center;
      padding: 1rem;
      font-family: var(--fonte-header-footer);
    height: 200px;
  }
  
